<p id="notice"><%= notice %></p>
<link rel="stylesheet" href="scaffolds.scss">

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<hr>
<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<%= link_to 'Edit', edit_post_path(@post),  :class => 'btn btn-success active'%> |
<%= link_to 'Back', posts_path, :class => 'btn btn-warning active' %>
